body {
    font-family: 'Gulzar', serif;

}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 50px;
    font-weight: 700;
    border-radius: 15px;

}

h1 {
    margin-top: 38px;
    font-size: 50px;
}

h2 {
    font-size: 33px;
}

p {
    font-size: 20px;
}


.full-width {
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 4%;
}

.font-color {
    color: #F1C40F;
}

.first-portion {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#second-portion {
    line-height: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

.set-width {
    width: 10%;

}

.flex {
    display: flex;
    justify-content: center;

}

.donation-amount-section {
    width: 130px;
    height: 130px;
    border: 1px solid #F4F6F6;
    background-color: #EDE7F6;
    text-align: center;
    margin: 6px;
    padding: 5px;
    border-radius: 5px;
}

.color-amount {
    background-color: tomato;
    border: 1px solid red;
    color: red;
}

.hrtag {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.line-height {
    line-height: 20px;
}

#blur {
    color: #BDC3C7;
}

#food {
    background-color: #ABEBC6;
    width: 25%;
    border: 1px solid #F4F6F6;
    margin: 6px;
    padding: 5px;
    border-radius: 5px;

}

#shelter {
    background-color: khaki;
    width: 25%;
    border: 1px solid #F4F6F6;
    margin: 6px;
    padding: 5px;
    border-radius: 5px;
}

#education {
    background-color: lightsteelblue;
    width: 25%;
    border: 1px solid #F4F6F6;
    margin: 6px;
    padding: 5px;
    border-radius: 5px;
}